:root {
    --primary-color: #0086b3;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: #F9F9F9;
    font-family: sans-serif;
    background: #f1f1f1;
}

ul {
    list-style-type: none;
}

h3 {
    font-weight: bold;
    font-size: 1.2rem;
    color: #404040;
}

a:hover {
    text-decoration: none;
}

/**
 * Utilities
 */

.bg-primary {
    background-color: var(--primary-color) !important;
}

/*
* Index CSS
*/

.index-main-box {
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 400px;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
}

.index-title {
    text-align: center;
    line-height: 1;
}

.master-icon {
    background-color: #ededed;
    border-radius: 100%;
    padding: 10px;
}

.form-icon {
    background-color: #ededed;
    border-radius: 5px;
    padding: 5px;
    color: #0086b3;
}

.btn-outline-light {
    background: white;
    color: black;
    border-color: #ced4da;
    width: 168px;
    margin-right: 20px;
    font-size: 0.9rem;
}

.btn-outline-light:hover {
    background: transparent;
    border-color: #ced4da;
}

.btn-personalizado {
    width: 168px;
    font-size: 0.9rem;
    background-color: #0086b3;
    color: white;
}

.btn-personalizado:hover {
    color: white;
}

/*
* Final Index CSS
*/

.link-forgot {
    text-decoration: none;
    margin-top: 3px;
    font-size: 12px;
    color: #0086b3;
}

.bg-white li a {
    color: #696969;
}

.bg-white li a:hover {
    background: #D3D3D3;
}

footer#footer {
    width: 100%;
    -webkit-box-shadow: 0px -4px .25rem rgba(0, 0, 0, .075);
    -moz-box-shadow: 0px -4px .25rem rgba(0, 0, 0, .075);
    box-shadow: 0px -.125rem .25rem rgba(0, 0, 0, .075);
    padding-top: 10px;
    padding-bottom: 10px;
    background: white;
    /*position: absolute;
    bottom: 0;*/

    /*box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;*/
}

.icon-footer {
    font-size: 25px;
    padding: 5px;
    border-radius: 5px;
    color: black;
}

#nav-footer li {
    margin-right: 10px;
}

.main {
    margin-left: 250px;
    padding: 15px;
    min-height: 100%;
}

.nav-side-menu {
    overflow: auto;
    background-color: #2e353d;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    color: #e1ffff;
    z-index: 9999;
}

.nav-side-menu .brand {
    background-color: #23282e;
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 14px;
}

.nav-side-menu .toggle-btn {
    display: none;
}

.nav-side-menu ul,
.nav-side-menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 4rem;
    cursor: pointer;
    visibility: visible !important;
    font-size: 15px;
}

.nav-side-menu li i.sidebar-icon {
    margin-right: 0.6rem;
    font-size: 1.5em;
}

.nav-side-menu ul .active,
.nav-side-menu li .active {
    border-left: 3px solid #e1ffff;
    background-color: #4f5b69;
}

.nav-side-menu li {
    padding-left: 0px;
    border-left: 3px solid #2e353d;
    border-bottom: 1px solid #23282e;
}

.nav-side-menu li a {
    display: block;
    text-decoration: none;
    color: #e1ffff;
}

.nav-side-menu li a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 20px;
}

.nav-side-menu li:hover {
    border-left: 3px solid #e1ffff;
    background-color: #4f5b69;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -o-transition: all .6s ease;
    -ms-transition: all .6s ease;
    transition: all .6s ease;
}

.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
    background-color: #000;
}

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
    background-color: #181c20;
    border: none;
    line-height: 3rem;
    border-bottom: 1px solid #23282e;
    margin-left: 0px;
    font-size: 12px;
}

.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
    background-color: #020203;
}

.nav-side-menu li .sub-menu li a,
.nav-side-menu ul .sub-menu li a {
    display: block;
    padding-left: 20px;
}

.nav-side-menu ul .sub-menu li a i,
.nav-side-menu li .sub-menu li a i {
    padding-right: 10px !important;
}

@media (max-width: 767px) {
    .main {
        margin-left: 0 !important;
        padding: 0 15px 15px 15px;
    }

    .nav-side-menu .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 7px;
        z-index: 10 !important;
        padding: 3px;
        width: 40px;
        text-align: center;
        background-color: #2e353d;
        border-radius: 4px;
    }

    .brand {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
    }
}

ul.sub-menu {

}

@media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
}

.modal-conteudo {
    pointer-events: auto;
}

.fade {
    transition: opacity .3s linear;
}

.center-item {
    height: 100%;

}

@media (min-width: 1200px) {

    .container {
        max-width: 1400px;
    }

}

@media (min-width: 992px) and (max-width: 1199px) {

    .container {
        max-width: 1170px;
    }

}

@media (max-width: 768px) {
    #menu_adm {
        height: auto;
    }
}

@media (max-width: 466px) {
    #header-notif {
        display: none;
    }

    .s-identify {
        display: none;
    }
}

p {
    margin: 0;
}

.bg-blue {
    background: #4682B4;
}

.text-blue {
    color: #4682B4;
}

#card-user ul li {
    padding-left: 0;
    padding-right: 0;
}

.list-group a.text-blue:hover {
    text-decoration: none;
    background: #FFFAFA;
}

#ul_listagem a {
    color: black;
    padding: 25px;
}

#ul_listagem a:hover {
    text-decoration: none;
    background: #F8F8FF;
}

#titulo_listagem h2 {
    margin-bottom: 20px;
}


.badge {
    line-height: 15px;
}

.quote {
    border-style: solid;
    border-width: 1px 1px 1px 8px;
    border-color: #ccc;
    padding: 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.hr {
    margin-right: -20px;
    border-color: #ccc;
}

.img-habbo {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}


.img-habbo2 {
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.img-habbo2 img {
    position: relative;
    top: -15px;
}

.img-habbo img {
    position: relative;
    top: -15px;
}

.info-usuario {
    font-size: 0.9em;
}

.texto-vertical {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

a:hover {
    cursor: pointer;
}
.imagem{
    width: 100px;
    height: 100px;
    padding-right: 90%;
}
#modal {
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    background: black;
    z-index: 9998;
    opacity: 0.5;
    display: none;
}

/*------scroll bar---------------------*/

::-webkit-scrollbar {
    width: 5px;
    height: 7px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #277a71;
    border: 0px none #ffffff;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: #277a71;
}

::-webkit-scrollbar-thumb:active {
    background: #277a71;
}

::-webkit-scrollbar-track {
    background: transparent;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
    background: transparent;
}

::-webkit-scrollbar-track:active {
    background: transparent;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

.light-blue {
    background-color: #3a72ac !important;
}

.blue {
    background-color: #346599 !important;
}

.dark-blue {
    background-color: #0b6090 !important;
}

.darker-blue {
    background-color: #2e4757 !important;
}

.darkest-blue {
    background-color: #37474F !important;
}

.primary-btn {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 12px;
    background: #1c2c36;
    padding: 5px 10px;
    text-decoration: none;
}

.primary-btn:hover {
    background: #141e25;
    color: #ffffff;
    text-decoration: none;
}

#dimmer {
    background-color: rgba(0, 0, 0, 0.44);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 900;
    transition: all .16s ease;
}

#dimmer.hidden {
    opacity: 0;
    pointer-events: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #263238;
    color: #fff;
    height: 63px;
    padding-top: 3px;
    background-image: url(https://i.imgur.com/3EBRShX.png);
    background-repeat: repeat-x;
    z-index: 99;
}

#main-menu-btn {
    color: #FFF;
    cursor: pointer;
    display: block;
    float: left;
    height: 60px;
    margin: 0;
    padding: 20px 22px;
    position: relative;
    text-align: center;
    font-size: 20px;
}

#logo-text {
    display: block;
    float: left;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: .2px;
    max-width: 100%;
    overflow: hidden;
    padding: 12px;
    text-align: center;
    text-overflow: ellipsis;
    font-family: Poppins, sans-serif;
    color: #fff;
}

#logo-text span {
    font-size: 25px;
    font-weight: 700;
    color: #3ab4a6;
}

.notifications,
.logged-user {
    color: #FFF;
    display: block;
    float: right;
    font-size: 20px;
    height: 60px;
    line-height: 60px;
    padding: 0 22px;
    position: relative;
    width: auto;
    text-align: center;
    text-decoration: none;
    font-family: Raleway, sans-serif;
    cursor: pointer;
}

.notifications {
    line-height: 0;
    padding: 22px;
}

.logged-user {
    font-size: 14px;
}

.logged-user img {
    display: block;
    float: left;
    height: 62px;
    margin: 0 -5px 0 -20px;
    width: 54px;
}

.logged-user i {
    margin-left: 5px;
}

#main-menu-btn:hover,
.notifications:hover,
.logged-user:hover {
    background-color: rgba(0, 0, 0, 0.22);
}

#unread_notif {
    background-color: #CD5C5C;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.44), 0 0 1px rgba(0, 0, 0, 0.88);
    font-size: 11px;
    height: 18px;
    left: 35px;
    line-height: 18px;
    padding: 0 4px;
    position: absolute;
    text-align: center;
    top: 15px;
}

.dropdown.visible > .dropdown-menu {
    display: block;
    margin-top: 63px;
}

#header-user.dropdown .dropdown-menu {
    left: auto;
    right: 3px;
}

#header-notif.dropdown .dropdown-menu {
    left: auto;
    right: 150px;
}

header .dropdown .dropdown-menu:before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: #fff;
    position: absolute;
    top: -10px;
    right: 13px;
    transform: rotate(45deg);
    border-radius: 0 0 100px 0;
    border-left: solid 1px rgba(0, 0, 0, .15);
    border-top: solid 1px rgba(0, 0, 0, .15);
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}

.dropdown-menu > li > a > i {
    margin-right: 5px;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.notif .image-not {
    float: left;
    margin: -5% 0 0 0;
}

.notif {
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.03);
    padding: 5px;
}

.notif span {
    display: block;
}

.coin {
    background-image: url(../../assets/img/coinpocket.gif);
    padding-right: 20px;
    background-repeat: no-repeat;
    background-position: right 3px;
    background-size: 16px;
    color: #e1bd00;
    font-weight: 700;
    font-size: 16px;
    float: right;
}

#main-menu {
    width: 250px;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    position: fixed;
    top: 0;
    background: #263238;
    z-index: 999;
    transition: all .16s ease;
    box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.14), 3px 0 1px -2px rgba(0, 0, 0, 0.2), 1px 0 5px 0 rgba(0, 0, 0, 0.12), -2px 0 2px 0 rgba(0, 0, 0, 0.14), -3px 0 1px -2px rgba(0, 0, 0, 0.2), -1px 0 5px 0 rgba(0, 0, 0, 0.12);
    overflow: auto;
}

#main-menu.hidden {
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
    pointer-events: none;
}

.main-menu-headline {
    color: #FFF;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: .2px;
    max-width: 100%;
    overflow: hidden;
    padding: 17px 0 0 0;
    text-align: center;
    text-overflow: ellipsis;
}

.main-menu-headline #logo-text {
    padding: 0 20%;
}

#main-menu ul,
#main-menu ul li,
#main-menu ul li a,
#main-menu ul .header-menu,
#main-user-menu ul,
#main-user-menu ul li,
#main-user-menu ul li a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul.li-border li {
    /*border-bottom: 1px solid #29353d !important;*/
}

#main-menu > ul > li > a,
#main-menu ul .header-menu,
#main-user-menu ul a {
    padding: 16px 22px;
    cursor: pointer;
    z-index: 2;
    font-size: 14px;
    text-decoration: none;
    color: #A9A9A9;
    -webkit-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
}

#main-user-menu ul a {
    padding: 16px 10px !important;
}

#main-menu ul .header-menu {
    padding-left: 22px;
    font-weight: bold;
    color: #DCDCDC;
    font-size: 15px;
}

#main-menu > ul > li > a:hover {
    color: #fff;
}

#main-menu > ul > li > a i {
    margin: -4px 16px -4px 0;
}

#main-menu ul > li.has-sub > a:before {
    position: absolute;
    right: 22px;
    top: 23px;
    display: block;
    width: 10px;
    height: 2px;
    background: #ffffff;
    content: "";
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

#main-menu ul > li.has-sub > a:after {
    position: absolute;
    right: 26px;
    top: 19px;
    z-index: 5;
    display: block;
    height: 10px;
    width: 2px;
    background: #ffffff;
    content: "";
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

#main-menu ul > li.has-sub.open > a:after,
#main-menu ul > li.has-sub.open > a:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#main-menu ul ul li a {
    padding: 20px 22px;
    cursor: pointer;
    z-index: 2;
    font-size: 14px;
    text-decoration: none;
    color: #A9A9A9;
    background: #1c2429;
    -webkit-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
}

#main-menu ul ul li a:hover {
    color: #fff;
}

#main-menu ul ul > li.has-sub > a:before {
    top: 20px;
    background: #ddd;
}

#main-menu ul ul > li.has-sub > a:after {
    top: 16px;
    right: 26px;
    background: #ddd;
}

#main-menu ul ul ul li a {
    padding-left: 32px;
    background: #11171a;
}

.header {
    box-shadow: 1px -5px 14px 0px #000;
    padding: 30px 0;
    font-family: Titillium Web, sans-serif;
    background: linear-gradient(to bottom, #0b6090, #63d1ff);
    color: #fff;
    margin-top: -12px;
}

.header #icon a {
    color: #3ab4a6;
    text-decoration: none;
}

.header #icon a img {
    margin-right: 5px;
}

.header .header-title {
    font-weight: 700;
    margin-bottom: 0;
}

footer {
    background-color: #2b2b2b;
}

footer i {
    margin-right: 5px;
}

.footer-links {
    background: #212121;
    width: 100%;
    height: 48px;
    box-shadow: 0px -3px 0px rgba(0, 0, 0, 0.2);
    list-style: none;
}

.footer-links a {
    color: #fff;
    float: left;
    height: 35px;
    background: #333;
    padding: 2px 10px 2px 10px;
    margin-left: 10px;
    border-radius: 3px;
    text-align: center;
    line-height: 30px;
    margin-top: 7px;
    font-size: 13px;
    transition: all 0.25s;
    box-shadow: inset 0 -4px rgba(0, 0, 0, 0.1);
    text-shadow: 0px 2px rgba(0, 0, 0, 0.1);
}

.footer-links a:hover {
    box-shadow: inset 0px -15px rgba(0, 0, 0, 0.08), inset 0px -4px rgba(0, 0, 0, 0.1);
    background-color: #FAFAFA;
    background-position: center bottom;
    color: rgba(0, 0, 0, 0.7);
}

.footer-credits {
    padding: 20px;
}

.footer-credits .official {
    background-image: url(../../img/brasao_big.png);
    width: 78px;
    height: 78px;
    float: right;
    margin-right: 40px;
    margin-top: 10px;
    transition: all 0.4s;
}

.footer-credits .official:hover {
    -webkit-filter: drop-shadow(0px 5px 20px rgb(255, 255, 255)) grayscale(1);
    filter: drop-shadow(0px 0px 0px rgb(255, 255, 255)) grayscale(1);
}

.footer-credits .credits {
    float: left;
    color: #FFF;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);
    margin-top: 2%;
}


/*
  Ranking mais postadores
*/
#top5 {
    font-family: Roboto;
}

.ranking-top5 {
    margin-bottom: 20px;
}

.ranking-top5:last-child {
    margin-bottom: 0;
}

.ranking-post-nome a {
    color: #aaa;
    font-weight: 500;
    transition: color 0.5s;
}

.ranking-post-nome a:hover {
    color: #777;
}

.ranking-post-nome i.fas {
    margin-right: 5px;
    color: var(--primary-color);
}

.ranking-post-texto {
    color: #ccc;
    font-size: 12px;
}

.ranking-user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ranking-post-barra {
    height: 10px;
    background: #ccc;
    line-height: 25px;
    margin-bottom: 10px;
    position: relative;
}

.ranking-post-barra .ranking-post-progress {
    background: var(--primary-color);
    height: 100%;
    position: absolute;
    z-index: 0;
}

.animatesandro {
    position: relative;
    -webkit-animation-name: ultimos_assuntos;
    -moz-animation-name: ultimos_assuntos;
    -o-animation-name: ultimos_assuntos;
    animation-name: ultimos_assuntos;
    -webkit-animation-duration: 15s;
    -moz-animation-duration: 15s;
    -o-animation-duration: 15s;
    animation-duration: 15s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
}

.animatesandro:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}

@keyframes ultimos_assuntos {
    0% {
        top: 250px;
    }
    100% {
        top: -700px;
    }
}

/*------Design of requerimentos------*/
.cor-principal {
    color: #0086b3;
}

.card-general {
    padding: 20px;
    border: none;
    border-top: 5px solid #0086b3;
    margin-bottom: 20px;
}

.card-general .card-body {
    padding: 0;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    color: #575757;
}

.card-title {
    font-size: 20px;
    font-weight: 700;
}

.form-general {
    font-weight: 400;
    font-size: 14px;
    color: #7d7d7d;
}

.form-general label {
    text-transform: uppercase;
}

.bg-principal {
    background-color: #0086b3;
}

.btn-send {
    background-color: #0086b3;
    color: white;
    width: 150px;
    margin-left: auto;
    display: block;
}

.btn-send:hover {
    color: white;
    background-color: #006f94;
    transition: all 0.5s;
}

@media (max-width: 767px) {
    .spacing {
        margin-top: 15px;
    }
}

/*------End of Design of requerimentos------*/

.box {
    background: white;
    width: 350px;
    padding: 20px;
    text-align: center;
    font-size: 0.8rem;
}

.box--large {
    width: 100%;
}

.box--relative {
    position: relative;
}

.box .fa-arrow-circle-left {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #0086b3;
    font-size: 1.5rem;
}

.box .fa-arrow-circle-left:hover {
    color: #00455c;
    cursor: pointer;
}

.box__icon {
    background: #ededed;
    color: #0086b3;
    font-size: 1.5rem;
    border-radius: 100%;
    padding: 10px;
}

.box__title {
    margin: 10px 0;
}

.box__subtitle {
    color: #6b7280;
}

.box__form {
    margin-top: 10px;
    text-align: left;
}

.box__label i.fas {
    background: #ededed;
    color: #0086b3;
    border-radius: 5px;
    padding: 5px;
}

.box__button {
    margin: 0 0 0 auto;
    background-color: #0086b3;
    color: white;
    font-size: 0.8rem;
    width: 100%;
}

.box__button:hover {
    color: white;
    background-color: #00455c;
}

.box__table {
    overflow-x: auto;
}

.box__table th {
    background-color: #0086b3;
    color: white;
}

.box__table tr:nth-child(even) {
    background-color: #a3e8ff;
}

.box__ranking {
    text-align: left;
    list-style-type: none;
    max-height: 160px;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

.ranking__item {
    margin-bottom: 10px;
    display: flex;
    position: relative;
}

.ranking__item:last-child {
    margin-bottom: 0;
}

.ranking__item::after {
    content: "";
    clear: both;
    display: table;
}

.ranking__item__content {
    padding: 15px;
    background-color: rgba(237, 237, 237, 0.6);
    width: 100%;
}

.ranking__item__content h6 {
    margin: 0;
    padding: 0;
}

.ranking__item__content p {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.ranking__item__icon {
    border-width: 0 3px 0 0;
    border-right-style: solid;
    border-right-color: white;
    min-height: 100%;
    background-color: rgba(237, 237, 237, 0.6);
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.ranking__item__icon__circle {
    width: 10px;
    height: 10px;
    background-color: #0086b3;
    border-radius: 100%;
}

.ranking__item__icon__delete {
    color: red;
}

.ranking__item__icon__medal {
    color: gold;
}

.ranking__item__icon__number {
    background-color: #0086b3;
}

.ranking__item__data {
    position: absolute;
    right: 10px;
    top: 2px;
    font-size: 0.7rem;
    color: #949494;
}

.dashboard {
    padding: 20px 0;
}

.dashboard-title {
    color: #6e6e6e;
    font-size: 0.8rem;
    margin: 0;
}

.dashboard-number-highlited {
    font-size: 30px;
    font-weight: bold;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:20px;
	right:20px;
	background-color:#7289da;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
    text-decoration: none;
    z-index: 1;
}

.float:hover {
    background-color: #6289da;
    transition: background-color 3ms ;
}

.my-float{
	margin-top:18px;
    font-size: 25px;
    color: #FFF;
}