<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="TelaWEB.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Termo de Consentimento</title>
</head>
<body>
    <div class="entrar">
        <header>
        <div class="entrar2">
            <a href="P_login.php"> Login </a>
        </div>
    </header>
    </div>
    <h1>Termo de Consentimento</h1>

    <nav class="menu">
 
        <ul>
                <li><a href="PaginaWEB.html">Home</a></li>
                <li><a href="#">O Hospital <i class="fa fa-caret-down"></i></a>
                    <ul>
                        <li><a href="quem_somos.html">Quem Somos?</a></li>
                        <li><a href="estrutura.html">Estrutura</a></li>
                    </ul>
                </li>
    
                <li> <a href="servicos.html" class="teste">Serviços<i class="fa fa-caret-down"></i> </a>
                    <ul>
                        <li> <a href="pronto_atendimento.html">Pronto Atendimento </a></li>
                        <li>  <a href="#">Internações <i class="fa fa-caret-down"></i></a>
                        <ul>
                            <li> <a href="acomodacoes.html">Acomodações </a></li>
                            <li><a href="alta_hospitalar.html">Alta Hospitalar </a></li>
                        </ul>
                        </li>
                        <li> <a href="maternidade.html">Maternidade </a></li>
                    </ul>
                        </li>
                        <li> <a href="termo_de_consentimento.html"> Termo de consentimento </a></li>
                        <li> <a href="politica_de_privacidade.html">Política de Privacidade </a></li>
                        <li> <a href="contato.html">Contato </a></li>
    
        </ul>
    </nav>
</body>
</html>